<label class="tittle-box"><p class="project-tittle-color">====== MY PROJECTS ======</p></label>
<div class="project-container">
  
  <div class="project-container-img">   
      <img class="project-img" [src]="elements[currentElement].image" *ngIf="!hoverVideo" (mouseenter)="hoverVideo = true" (mouseleave)="hoverVideo = false">
      <img class="project-img" *ngIf="hoverVideo" [src]="elements[currentElement].gif" (mouseleave)="hoverVideo = false">
      <div class="project-container-button">
        <button class="project-butons" (click)="previousElementButton()"><</button>
        <a class="project-desc-a project-button-view-app" *ngIf="elements[currentElement].applink" [href]="elements[currentElement].applink">view project</a>
        <button class="project-butons" (click)="nextElementButton()">></button>
      </div>
  </div>

  
  
  <div class="project-container-desc">
    <p class="project-desc-p">{{ elements[currentElement].title | uppercase}}</p>
    <p class="project-desc-p">{{ elements[currentElement].description }}</p>
    <a class="project-desc-p project-desc-a" [href]="elements[currentElement].githubLink" target="_blank">view on github</a>
    <div class="project-desc-img-display">
      <div *ngFor="let tech of elements[currentElement].technologies">
        <img class="project-desc-img" [src]="tech">
      </div>
    </div>
  </div>
</div>  
