.skills-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 15px;
    margin-bottom: 10px;
}

.skills-tittle-color {
    color: black;
    background-color: white;
}

.skills-galery-contaier {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skills-img {
    margin: 10px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.5s, opacity 0.3s ease;
}

.skills-item:hover .skills-img {
    transform: scale(1.5);
    opacity: 1;
}

.skills-label {
    opacity: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    transition: opacity 0.3s ease;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(30%);
}

.skills-item:hover .skills-label {
    opacity: 1;
}


.tittle-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    font-size: 15px;
}
