<app-loader></app-loader>

<section id="announcements" class="container">
    <div id="announcements" class="announcements">
        <p class="announcementsText">Check my Portfolio in lite version <a class="linkancor" href="https://diegoignaicorojasgonzalezcv.onrender.com/"> Click Here!</a></p>
        <button class="close-button terminal-button">X</button>
    </div>
</section>

<section class="container">
    <div class="terminal-container">
        <div class="terminal-bar">
            <img src="https://raw.githubusercontent.com/DiegoRojasGonzalez/Resources/14c934729dd2e4d4514f67270c8477dc0976b257/DiegoRojasGonzalez.github.io/terminal.svg" alt="terminal" class="terminal-icon">
            <div class="terminal-title">
                diegorojas@diegorojas:~
            </div>
            <div >
                <button class="terminal-button">?</button>
                <button class="terminal-button">x</button>
            </div>
        </div>
        <app-menu></app-menu>

    </div>
</section>
<div class="terminal-musiccontroller"> 
<button (click)="buttonClick()" class="soundcontroller">
    <img class="musiccontroller-button" [src]="isMuted ? 'https://raw.githubusercontent.com/DiegoRojasGonzalez/Resources/14c934729dd2e4d4514f67270c8477dc0976b257/DiegoRojasGonzalez.github.io/volumeoff.svg' : 'https://raw.githubusercontent.com/DiegoRojasGonzalez/Resources/14c934729dd2e4d4514f67270c8477dc0976b257/DiegoRojasGonzalez.github.io/volumeon.svg'" alt="Volume Icon">
  </button>
</div>