---
const personalImageAlt = "Diego Rojas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      From a young age, my curiosity for technology led me to disassemble
      laptops, televisions, and other devices, although I rarely managed to fix
      them, which always amused my family. This initial curiosity transformed
      into a professional passion when I decided to pursue a career in IT, a
      field I knew little about but was drawn to for its creative potential.
    </p>
    <p>
      Today, I am a <strong
        >software Engineer passionate about the IT world</strong
      >, with experience in <strong>leading teams</strong> and <strong
        >implementing innovative technologies</strong
      >. My career has been marked by <strong>continuous learning</strong> and the
      <strong>application of new technologies</strong>, enabling me to
      contribute significantly to every project I have worked on. My expertise
      includes <strong>developing web solutions</strong>, <strong
        >Android applications</strong
      >,<strong> Docker integration</strong>, and <strong
        >continuous integration practices with GitHub Actions
      </strong>. Additionally, I have created <strong>
        REST APIs, front-end development in Angular
      </strong> , and have managed <strong>
        test servers and best practices with Git and GitHub.</strong
      >
    </p>
    <p>
      I am always seeking to <strong>expand my knowledge and skills</strong>,
      adapting to the latest technological trends, and ensuring that every
      project I participate in has a positive and lasting impact.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/photo.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
