---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "March 2024 - June 2024",
    title: "Software  Developer FullStack ",
    company: "Syscol",
    description:
      "Performed maintenance on mobile applications for syscolnet and notasnet, Additionally, I developed responsive websites to ensure cross-platform compatibility. In the backend, I created stored procedures in SQL Server for bulk data imports and developed controllers in C# with .NET Core. I also collaborated on the development of the website sanandreselbosque.cl, following designs provided by the UX design team.",
    link: "",
  },
  {
    date: "October 2023 - March 2024",
    title: "Lead Software Developer",
    company: "Holding Grupo Firma",
    description:
      "Project leader at GF Projects, I was responsible for software development, including creating REST APIs and Angular frontend development. Additionally, I led the GF Rent team, assigning technical requirements and ensuring proper integration with Docker. I implemented and managed best practices using Git and GitHub, and conducted webinars to train teams on relevant technologies. Furthermore, I designed technical tests to enhance our continuous work.",
  },
  {
    date: "March 2023 - October 2023",
    title: "Software Developer",
    company: "Freelancer",
    description:
      "Specialized in web and mobile development, providing tailored solutions to clients. My services included the development of custom web applications to meet specific business needs. Additionally, I offered expertise in creating and maintaining Android applications, ensuring they aligned with client requirements and standards. Throughout my projects, I emphasized the importance of accurate measurement and estimation, allowing for transparent communication and effective project management. My goal was to deliver high-quality solutions that exceeded client expectations while adhering to deadlines and budget constraints.",
  },
  {
    date: "December 2022 - March 2023",
    title: "Software Developer",
    company: "badwolfrecords",
    description:
      "During my internship, I focused on optimizing websites using a CMS. Additionally, I developed a new platform as a microservice to integrate an ecommerce solution using Django. The technologies I utilized included Python, a Content Management System (CMS), Django, PostgreSQL, HTML, Bootstrap 5, and JavaScript.",
    link: "https://www.badwolfrecords.net/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
