---
const personalImageAlt = "Diego Rojas";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16 object-cover"
      src="/avatar.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/diegoignaciorojasgonzalez"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for Work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hi, I'm Diego
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Software Developer graduated as a <strong>
      Higher Level Technician in Programming and Systems Analysis.
    </strong> From Chile 🇨🇱, <strong>
      Currently studying Software Engineering,</strong
    > Im focus on creating modern and effective solutions. 💻🚀
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:gonzalez.rojas.ignacio.diego@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/diegoignaciorojasgonzalez/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
